[project]
authors = ["Mikhail Tavarez <miktavarez@gmail.com>"]
channels = ["conda-forge", "https://conda.modular.com/max"]
description = "Mist lets you safely use advanced styling options on the terminal."
name = "mist"
platforms = ["osx-arm64", "linux-64"]
version = "0.1.9.nightly3"
license = "MIT"
license-file = "LICENSE"
homepage = "https://github.com/thatstoasty/mist"
repository = "https://github.com/thatstoasty/mist"

[tasks]
tests = "python scripts/util.py run tests"
benchmarks = "python scripts/util.py run benchmarks"
examples = "python scripts/util.py run examples"
template = "python scripts/util.py templater"
build = { cmd = "python scripts/util.py build", env = { MODULAR_MOJO_IMPORT_PATH = "$CONDA_PREFIX/lib/mojo" } }
publish = { cmd = "python scripts/util.py publish", env = { PREFIX_API_KEY = "$PREFIX_API_KEY" } }
bp = { depends_on=["build", "publish"] }

[dependencies]
max = ">=24.5.0,<25"

[feature.nightly]
channels = ["conda-forge", "https://conda.modular.com/max-nightly"]

[feature.nightly.dependencies]
max = ">=24.6.0.dev2024121016"

[environments]
nightly = ["nightly"]
